<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <!-- 
        input和textarea元素可以使用v-model进行双向绑定;
        复选框：复选框如果是一个为逻辑值，如果是多个则绑定到同一个数组;
     -->
     <!-- 
         修饰符：
            .lazy: 在默认情况下， v-model 在 input 事件中同步输入框的值与数据，但你可以添加一个修饰符 lazy ，从而转变为在 change 事件中同步;
            .number: 如果想自动将用户的输入值转为 Number 类型（如果原值的转换结果为 NaN 则返回原值），可以添加一个修饰符 number 给 v-model 来处理输入值,这通常很有用，因为在 type="number" 时 HTML 中输入的值也总是会返回字符串类型;
            .trim: 如果要自动过滤用户输入的首尾空格，可以添加 trim 修饰符到 v-model 上过滤输入;
      -->
</head>

<body>
    <div id="app">
        <h1>文本框</h1>
        <h3>{{ message }}</h3>
        <input type="text" v-model="message"><hr>

        <!-- 复选框如果是一个为逻辑值，如果是多个则绑定到同一个数组! -->
        <!-- 单个复选框，绑定到布尔值 -->
        <!-- 此时就将这个复选框和checked绑定在了一起，当单击选中时，就会将这个bool值传递给checked -->
        <h1>单个复选框</h1>
        <input type="checkbox" id="check" v-model="checked">
        <label for="check">{{ checked }}</label><hr>

        <!-- 此时就将这3个复选框与checkedNames给绑定了在了一起，
        单击选中其中一个时，就会将这个选中的复选框的value属性的值传递给数组checkedNames数组给存储起来,
    取消时，就会从这个数组中移除这个value属性对应的值; -->
        <h1>多个复选框</h1>
        <input type="checkbox" id="runoob" value="FirstCheckbox" v-model="checkedNames">
        <label for="runoob">Runoob</label>
        <input type="checkbox" id="google" value="SecondCheckbox" v-model="checkedNames">
        <label for="google">Google</label>
        <input type="checkbox" id="taobao" value="ThirdCheckbox" v-model="checkedNames">
        <label for="taobao">taobao</label>
        <br><span>选择的值为: {{ checkedNames }}</span><hr>

        <!-- 此时就是将单选按钮和picked绑定在了一起，单选哪个按钮，就将哪个按钮的value属性的值赋给字符串picked -->
        <h1>单选按钮</h1>
        <input type="radio" id="radio1" value="One" v-model="picked">
        <label for="radio1">first</label>
        <br>
        <input type="radio" id="radio2" value="Two" v-model="picked">
        <label for="radio2">second</label></label>
        <br><span>选中值为: {{ picked }}</span><hr>
        

        <!-- 此时就是将select下拉框和selected绑定在了一起，下拉框中选什么，就会将选的这个值给同步到selected字符串中去 -->
        <!-- 对于下拉框来说：多选时，绑定到一个数组上面 ，只需添加一个multiple属性即可变成多选状态-->
        <!--  当选中第一个选项时，`selected` 为字符串 "abc"(option加了value属性的前提下),否则就是testA或者testB -->
        <h1>下拉列表</h1>
        <select v-model="selected" name="fruit">
            <option>选择一个网站</option>
            <option value="abc">testA</option>
            <option>testB</option>
        </select>
        <div id="output">
            选择的网站是: {{selected}}
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: "HelloWorld",
                checked: '',
                // checked: false,
                checkedNames: [],
                picked: '',
                selected: '',  
                // selected: [],
            },
            methods: {
            },
            computed: {
            },
            watch: {
            }
        })
    </script>
</body>

</html>